<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkh.sys.dao.SysTaskMapper">
	<resultMap id="BaseResultMap" type="com.hkh.sys.bean.SysTask">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="job_name" property="jobName" jdbcType="VARCHAR" />
		<result column="description" property="description"
			jdbcType="VARCHAR" />
		<result column="cron_expression" property="cronExpression"
			jdbcType="VARCHAR" />
		<result column="bean_class" property="beanClass"
			jdbcType="VARCHAR" />
		<result column="job_status" property="jobStatus"
			jdbcType="INTEGER" />
		<result column="job_group" property="jobGroup"
			jdbcType="VARCHAR" />
		<result column="create_user" property="createUser"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, job_name, description, cron_expression, bean_class,
		job_status,
		job_group, create_user,
		create_time
	</sql>

	<select id="getById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_task
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sys_task
		where
		id = #{id,jdbcType=INTEGER}
	</delete>


	<insert id="insert" parameterType="com.hkh.sys.bean.SysTask">
		insert into sys_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="cronExpression != null">
				cron_expression,
			</if>
			<if test="beanClass != null">
				bean_class,
			</if>
			<if test="jobStatus != null">
				job_status,
			</if>
			<if test="jobGroup != null">
				job_group,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="jobName != null">
				#{jobName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				#{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="beanClass != null">
				#{beanClass,jdbcType=VARCHAR},
			</if>
			<if test="jobStatus != null">
				#{jobStatus,jdbcType=INTEGER},
			</if>
			<if test="jobGroup != null">
				#{jobGroup,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.hkh.sys.bean.SysTask">
		update sys_task
		<set>
			<if test="jobName != null">
				job_name = #{jobName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				cron_expression = #{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="beanClass != null">
				bean_class = #{beanClass,jdbcType=VARCHAR},
			</if>
			<if test="jobStatus != null">
				job_status = #{jobStatus,jdbcType=INTEGER},
			</if>
			<if test="jobGroup != null">
				job_group = #{jobGroup,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="queryAllTasks" resultMap="BaseResultMap">
		select * from sys_task
		<where>
			<if test="jobName != null">
				and job_name = #{jobName}
			</if>
			<if test="jobGroup != null">
				and job_group = #{jobGroup}
			</if>
			<if test="jobStatus != null">
				and job_status = #{jobStatus}
			</if>
		</where>
	</select>
</mapper>