<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkh.sys.dao.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.hkh.sys.bean.SysUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="loginname" property="loginname"
			jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="deptid" property="deptid" jdbcType="INTEGER" />
		<result column="hiredate" property="hiredate"
			jdbcType="TIMESTAMP" />
		<result column="mgr" property="mgr" jdbcType="INTEGER" />
		<result column="available" property="available"
			jdbcType="INTEGER" />
		<result column="ordernum" property="ordernum"
			jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="imgpath" property="imgpath" jdbcType="VARCHAR" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, loginname, address, sex, remark, pwd, deptid,
		hiredate, mgr,available,ordernum, type, imgpath, salt
	</sql>

	<!-- 用户登录 -->
	<select id="userLogin" resultType="com.hkh.sys.bean.SysUser">
		select
		<include refid="Base_Column_List" />
		from
		sys_user
		<where>
			binary loginname=#{username}
		</where>
	</select>

	<select id="getUserById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sys_user
		where
		id = #{id,jdbcType=INTEGER}
	</delete>

	<update id="update" parameterType="com.hkh.sys.bean.SysUser">
		update sys_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="loginname != null">
				loginname = #{loginname,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="deptid != null">
				deptid = #{deptid,jdbcType=INTEGER},
			</if>
			<if test="hiredate != null">
				hiredate = #{hiredate,jdbcType=TIMESTAMP},
			</if>
			<if test="mgr != null">
				mgr = #{mgr,jdbcType=INTEGER},
			</if>
			<if test="available != null">
				available = #{available,jdbcType=INTEGER},
			</if>
			<if test="ordernum != null">
				ordernum = #{ordernum,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="imgpath != null">
				imgpath = #{imgpath,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>


	<insert id="insert" parameterType="com.hkh.sys.bean.SysUser">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="loginname != null">
				loginname,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="deptid != null">
				deptid,
			</if>
			<if test="hiredate != null">
				hiredate,
			</if>
			<if test="mgr != null">
				mgr,
			</if>
			<if test="available != null">
				available,
			</if>
			<if test="ordernum != null">
				ordernum,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="imgpath != null">
				imgpath,
			</if>
			<if test="salt != null">
				salt,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="loginname != null">
				#{loginname,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="deptid != null">
				#{deptid,jdbcType=INTEGER},
			</if>
			<if test="hiredate != null">
				#{hiredate,jdbcType=TIMESTAMP},
			</if>
			<if test="mgr != null">
				#{mgr,jdbcType=INTEGER},
			</if>
			<if test="available != null">
				#{available,jdbcType=INTEGER},
			</if>
			<if test="ordernum != null">
				#{ordernum,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="imgpath != null">
				#{imgpath,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="queryAllUsers" resultMap="BaseResultMap">
		select * from sys_user
		<where>
			and type!=0
		</where>
	</select>

	<select id="queryRoleByuserid"
		resultType="com.hkh.sys.bean.SysRole">
		select id,name from sys_role join
		sys_role_user
		on
		sys_role.id=sys_role_user.rid
		WHERE
		sys_role_user.uid=#{userid}
	</select>

	<select id="queryAllRole" resultType="com.hkh.sys.bean.SysRole">
		select id,name from
		sys_role
	</select>

	<insert id="insertRole">
		insert into sys_role_user values(#{rid},#{uid})
	</insert>

	<delete id="deleteRoleByUserid">
		delete from sys_role_user where uid=#{uid} and
		rid=#{rid}
	</delete>
</mapper>